body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f5f5; /* Light blue background */
}

header {
    background-color: #3498db; /* Blue header background */
    color: #fff;
    padding: 10px;
    text-align: center;
}

section.club {
    margin: 20px;
}

.club-info {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

h2, h3, h4 {
    color: #3498db; /* Blue headings */
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
