@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0; /* Light gray background */
    margin: 0;
    background-image: url('images/pexels-scott-webb-3255761.jpg');
}

header {
    background-color: #2785ea; /* Blue header */
    color: #fff; /* White text */
    text-align: center;
    padding: 20px 0;
}

.article {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}

.article h2 {
    color: #007bff;
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
