@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  background: rgb(17, 53, 98);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

.logo {
  font-size: 32px;
  color: white;
  text-decoration: none;
  font-weight: 700;

}

.nav a{
  font-size: 18px;
  color: white;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  margin-left: 40px;
}

.nav a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  background: whitesmoke;
  transition: 0.5s;
}

.nav a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.nav .text-get{
  color: #088178;
  
}

/* .nav .button-login-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid white;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: white;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
} */

/* .nav .button-login-popup:hover {
  background: white;
  color: #162938;

} */

.hero {
  position: absolute;
  background-image: linear-gradient(to bottom right,rgba(109, 93, 93, 0.7),rgba(17, 53, 98, 0.3)),url('images/background5.png');
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;


  /* animation-name: ;
  animation-timing-function: ;
  animation-duration: ; */
}

.hero h4{
  padding-bottom: 15px;
}

.hero h1{
  color: #088178;
} 

.hero .button-login-popup{
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #088178;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #088178;
  font-weight: 800;
  margin-left: 40;
  transition: 0.5s;
}

.hero .button-login-popup:hover{
  background: white;
  color: #162938;
}


/* .wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: #162938;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.5s ease,height 0.2s ease;
  top: 100px;
  left: 50%;

}

.wrapper.active-popup{
  transform: scale(1);
}

.wrapper.active{
  height: 520px;

}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login{
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login{
  transition: none;
  transform: translateX(-400px);

}


.wrapper .form-box.register{
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register{
  transition: transform 0.18s ease;
  transform: translateX(0); 
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #162938;
  font-size: 2em;
  color: #fffdd0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box.login h2{
  font-size: 2em;
  color: #fffdd0;
  text-align: center;
}

.form-box.register h2{
  font-size: 2em;
  color: #fffdd0;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #fffdd0;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fffdd0;
  font-weight: 500;
  pointer-events: none;  
  transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fffdd0;
  font-weight: 600;
  padding: 0 35px 0 5px;

}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #fffdd0;
  line-height: 57px;
}

.remember-forgot {
  font-size: 0.9em;
  color: #fffdd0;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label-input {
  accent-color: #fffdd0;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fffdd0;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

#btn {
  width: 100%;
  height: 45px;
  background: #093252 ;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fffdd0;
  font-weight: 500;

}

.login-register {
  font-size: 0.9em;
  color: #fffdd0;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a{
  color: #fffdd0;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover{
  text-decoration: underline;
} */

.section-p1 {
  padding: 700px 40px;
}

.section-m1{
  margin: 100px 10px;
}

button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: #fddde4;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s;
}

#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0 ;
}

#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1); 
}

#feature .fe-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;

}

.wrapper-slide {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrapper-slide h2{
  text-align: center;
  font-size: 40px;
  padding-bottom: 20px;
}
.wrapper-slide i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper-slide i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper-slide i:first-child{
  left: -22px;
}
.wrapper-slide i:last-child{
  right: -22px;
}
.wrapper-slide .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: rgb(186, 185, 185);
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper-slide .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper-slide .carousel {
    grid-auto-columns: 100%;
  }
}

#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('images/question-mark-1105892_1920.jpg');
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;

}

#banner h4{
  color: black ;
  font-size: 20px;
}

#banner h2{
  color: #E1D9D1 ;
  font-size: 30px;
  padding: 10px 0;
}

#banner button:hover{
  background: #F4B8E4;
  color: white;
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo{
  margin-bottom: 30px;
  color: black;
}

footer h4{
  font-size: 13px;
  padding-bottom: 20px;
}

footer p{
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a{
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin: 0 0 8px 0;
}

footer .follow{
  margin-top: 20px;
}

footer .follow ion-icon{
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .copyright{
  width: 100%;
  text-align: center;

}








